header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: beige;
  }
  
  nav {
    position: absolute;
    left: 400px;
    top: 40px;
  }
  
  li {
    display: inline;
    margin: 50px;
  }
  
  main {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: beige;
    height: 80px;
  }
  